header {
    background-color: #244751;
    color: #e8fdff;
}

body {
    background-color: whitesmoke;
}

main {
    background-color: white;
    padding: 16px;
}

.post {
    margin-bottom: 48px;
}

.post .user-info img {
    border-radius: 50%;
}

.comment-count:hover {
    text-decoration: underline;
}

a:link {
    border: none;
}

#title {
    margin-left: 1em;
}

h2 {
    font-family: Lora;
}

.form-group input {
    width: 100%;
}

.button {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
}

.form-errors {
    color: red;
}